---
import GitHub from "../icons/GitHub.astro";
import Linkedln from "../icons/Linkedln.astro";
import SocialPill from "./Social_pill.astro";
import Mail from "../icons/Mail.astro";
---

<section class="flex items-center justify-start gap-3 w-full flex-wrap ">
    <SocialPill RRSS_Link="https://github.com/adriroca20" RRSS_Name="GitHub">
        <GitHub class="w-5 h-5" />
    </SocialPill>
    <SocialPill RRSS_Link="https://www.linkedin.com/in/adri%C3%A1n-rocafull-448a1216a/" RRSS_Name="Linkedln">
        <Linkedln class="w-5 h-5" />
    </SocialPill>
    <SocialPill RRSS_Link="mailto:adrianrocafull1@gmail.com" RRSS_Name="adrianrocafull1@gmail.com">
        <Mail class="w-6 h-6" />
    </SocialPill>
</section>

<style>

</style>