---
import GitHub from "../icons/GitHub.astro";
import type {IProjectItem} from "../interfaces/IProjectItem"
interface Props {
    projectItemData: IProjectItem
}
const { projectItemData } = Astro.props;

---

    <figure class="flex flex-col items-center justify-between p-8 text-center bg-[#1E1E2C] border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{projectItemData.tittle}</h3>
            <p class="my-4">{projectItemData.description}</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <GitHub  class="rounded-full w-9 h-9"></GitHub>
        </figcaption>    
    </figure>
